.navmenu{
    background-color: #ff4d4d;
    color: white;
    display: flex;
    justify-content: space-between;
    margin:  0;
    box-sizing: border-box;
    padding: 0 120px;
}

ul{
    list-style: none;
    display: flex;
    text-align: none;
    display: flex;
    gap: 20px;
    align-items: center;
    cursor: pointer;

}

.navmenu li{
    padding-top: 8px;
}

.nav-buttons{
    display: flex;
    align-items: center;
    gap: 35px;

}

.nav-links{
    color: white;
}

a{
    color: white;
}

a:hover{
    cursor: pointer;
}

.nav-button{
    padding: 10px 50px;
    border-radius: 3%;
    color: #ff4d4d;
    background-color: white;
    border: 0;
    text-transform: uppercase;
}

.hero{
    background-color: #0b145e;
    /*background-image: url(images/heroimage.png);*/
    height: 85vh;
    background-position: top left;
    background-position: left;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    color: white;
    align-items: center;
    padding-left: 150px;
    border-bottom: solid 5px #ff4d4d;
}

.hero-text{
    width: 30%;
}

.hero-p1{
    font-size: 50px;
    line-height: 1;
}

.hero-box-button{
    padding: 10px 15px;
    text-transform: uppercase;
    margin-bottom: 15px;
    border: solid 1px white;
    background-color: #53577d;
    border-radius: 2%;
    font-size: 13px;
    font-weight: bold;
    color: white;
}

.orange-button-hero{
    padding: 5% 20%;
    color: white;
    background-color: #ff6b00;
    border: 0;
    border-radius: 2%;
}

.hero-p3{
    margin: 15px 80px;
}

.nossosnumeros{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 30vh;
    background-color: #212121;
    border-bottom: solid 5px #ff4d4d;
    color: white;
    font-size: 20px;
    padding-top: 3%;
}

.nossosnumeros-destaque{
    color: #ff4d4d;
    font-size: 150%;
}

.nossosnumeros-p{
    width: 7%;
    margin-left: 10%;
    text-align: end;

}

.nossosnumeros-destaque-title{
    font-size: 180%;
    line-height: 1;
    margin-top: 3%;
}

.line{
    height: 2%;
    width: 15%;
    background-color: #ff4d4d;
    display: inline-flex;
    margin: 5% 1% 0 2%;
}

.about{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.about-text{
    font-size: 250%;
    width: 25%;
}

iframe{
    border-radius: 2%;
}

.como-funciona{
    height: 90vh;
    background-color: #fff6f6;
    padding: 5%;
    text-align: center;
    
}

.como-funciona-steps{
    display: flex;
    align-items: center flex-start;
    justify-content: center;
    gap: 10%;
}

.como-funciona-text{
    text-align: center;
    line-height: 1;
    margin-bottom: 3%;
}

.como-funciona-text-p1{
    color: #ff4d4d;
}

.como-funciona-text-p2{
    font-size: 300%;
}

.como-funciona-btn{
    padding: 1.5% 5%;
    text-align: center;
    background-color: #00be5c;
    color: white;
    border-radius: 3%;
    border: 0;
    font-size: 110%;
}

.step{
    width: 20%;
    margin-bottom: 0;
}

.step-p1{
    font-size: 120%;
}

.step-p2{
    color: #575353;
}

.como-funciona-steps-img{
    height: 25%;
    margin-bottom: 5%;
}

.assinar{
    height: 100vh;
    padding: 5%;
    text-align: center;
}

.assinar-step{
    margin-bottom: 0;
    box-shadow: 0 10px 20px gray;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    border-radius: 5%;
}

.assinar-steps{
    display: flex;
    align-items:center flex-start;
    justify-content: center;
    gap: 5%;
    height: 50%;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-top: 5%;
}

.assinar-btn{
    padding: 1.5% 5%;
    text-align: center;
    background-color: #00be5c;
    color: white;
    border-radius: 3%;
    border: 0;
    font-size: 110%;
    margin-top: 5%;
}

.quem-recomenda{
    height: 150vh;
    background-color: black;
    color: white;
}

.quem-recomenda-title{
    text-align: center;
    padding-top: 4%;
    font-size: 220%;
}

.line-r{
    height: 0.5%;
    width: 10%;
    background-color: #ff4d4d;
    margin-left: 45%;
}

.club{
    height: 55vh;
    background-image: url(images/bannermain.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    text-align: center;
    color: white;
    line-height: 1.2;

}

.club-p1{
    font-size: 250%;
    padding-top: 7%;
    font-weight: bolder;
}

.club-btn{
    background-color: #0097ff;
    border-radius: 2%;
    border: 0;
    padding: 1% 3%;
    margin-bottom: 1%;
    color: white;
}

.footer-inf-terluria{
    height: 10vh;
    background-color: #143c4d;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-inf-terluria p{
    padding-top: 1.5%;
    color: white;
    opacity: 0.6;
}

.terluria-btn{
    color: white;
    border: solid 2px white;
    background-color: transparent;
    padding: 0.5% 4%;
    border-radius: 3%;
    margin-left: 20%;
    text-transform: uppercase;
    font-size: small;
    font-weight: bold;
}

.club-logo{
    height: 40px;
}

.terluria-logo{
    height: 60px;
    margin-right: 10%;
}

footer{
    color: white;
    background-color: black;
    height: 90vh;  
}

.address{
    margin-left: 10%;   
}

.address p{
    color: white;
    opacity: 0.6;
}

.footer-list{
    display: flex;
    padding-top: 5%;

}

.footers{
    display: flex;

}
.footer-ul{
    display: flex;
    flex-direction: column;
    line-height: 0.5;
    margin-left: 100px;

}

.footer-link{
    color: white;
    opacity: 0.6;
}

.f-title{
    font-weight: bold;
    text-transform: uppercase;
    opacity:initial;
}

